@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "node_modules/fullpage.js/dist/fullpage";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&subset=cyrillic');

$orange-gradient: linear-gradient(236.51deg, #FFA800 0%, #E94600 100%);
$nut-gradient: linear-gradient(60.77deg, #50227C 0%, #CE0872 100%);
$cherry-gradient: linear-gradient(236.51deg, #D31646 0%, #9A083C 100%);
$cherry-gradient-2: linear-gradient(240.64deg, #D31646 0%, #800A34 100%);
$cacao-gradient: linear-gradient(236.51deg, #C11320 0%, #630521 100%);
$dark-gradient: linear-gradient(236.51deg, #D8873E 0%, #B24A1E 100%);

.background--orange {
  background-image: $orange-gradient;
}

.background--nut {
  background-image: $nut-gradient;
}

.background--cherry {
  background-image: $cherry-gradient;
}

.background--cherry-2 {
  background-image: $cherry-gradient-2;
}

.background--cacao {
  background-image: $cacao-gradient;
}

.background--dark {
  background-image: $dark-gradient;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #2a120c;
  color: #fff;
}

a {
  color: #fff;
  transition: 0.5s;
  &:hover {
    color: #c50972;
  }
}

.container {
  overflow: hidden;
}

.logo {
  display: block;
  position: fixed;
  z-index: 2147483647;
  width: 60px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  @media (min-width: 992px) {
    top: 25px;
    width: 94px;
  }
  img {
    max-width: 100%;
  }
}

.footer {
  position: fixed;
  z-index: 2147483647;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: #210E09;
  text-align: center;
  box-sizing: border-box;
  @media (min-width: 992px) {
    height: 72px;
    padding: 20px 15px;
  }
}

.menu {
  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 36px;
    background: #210e09;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 92px 0;
    transform: translateY(100%);
  }
  @media (min-width: 992px) {
    position: absolute;
    top: 20px;
    left: 15px;
  }
  &__item {
    text-decoration: none;
    font-size: 20px;
    &--active {
      color: #C50972;
    }
    @media (min-width: 992px) {
      line-height: 32px;
      font-size: 15px;
      margin-right: 30px;
    }
  }
}

.center {
  overflow: hidden;
  @media (max-width: 991px) {
    width: 50%;
  }
}

.collection {
  @media (min-width: 992px) {
    position: absolute;
    right: 15px;
    top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__title {
    margin-right: 8px;
    font-size: 15px;
  }
  &__item {
    margin-left: 15px;
  }
  &__number {
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $nut-gradient;
      border-radius: 50%;
    }
    span {
      position: relative;
      display: inline-block;
      background-color: #210E09;
      border-radius: 50%;
      margin: 2px;
      height: 28px;
      width: 28px;
      line-height: 28px;
    }
    img {
      position: relative;
    }
  }
  &__image {
    margin-left: 85px;
    @media (max-width: 991px) {
      margin-left: 0; 
    }
    img {
      max-width: 279px;
      @media (max-width: 991px) {
        max-width: 184px;
      }
    }
  }
}

.btn {
  &__prize {
    position: relative;
    display: inline-block;
    text-decoration: none;
    height: 32px;
    @media (max-width: 991px) {
      height: 36px;
      width: 100%;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $nut-gradient;
    }
    span {
      position: relative;
      display: inline-block;
      background-color: #210E09;
      margin: 2px;
      padding: 0 15px;
      height: 28px;
      line-height: 28px;
      transition: 0.5s;
      @media (max-width: 991px) {
        background-color: transparent;
        font-size: 0;
      }
    }
    svg {
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
      margin-right: 5px;
      @media (max-width: 991px) {
        margin-top: 7px;
      }
    }
    &--active,
    &:hover {
      color: #fff;
      span {
        background-color: transparent;
      }
    }
  }
  &__play {
    display: inline-block;
    width: 184px;
    height: 52px;
    font-weight: bold;
    line-height: 46px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border: 3px solid #fff;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 30px;
    text-transform: uppercase;
    @media (max-width: 991px) {
      margin-top: 10px;
      width: 200px;
      height: 42px;
      line-height: 36px;
    }
    &:hover {
      color: #fff;
    }
  }
  &__certificate {
    display: inline-block;
    width: 290px;
    height: 52px;
    font-weight: bold;
    line-height: 46px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border: 3px solid #fff;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 30px;
    &:hover {
      color: #fff;
    }
  }
  &__video {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 991px) {
      width: 57px;
      height: 57px;
    }
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__prev,
  &__next {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__prev {
    left: 70px;
  }
  &__next {
    right: 70px;
  }
  &__burger {
    display: none;
    outline: none;
    @media (max-width: 991px) {
      display: inline-block;
      position: relative;
      float: left;
      height: 36px;
      width: 50%;
      border: 0;
      background: #210e09;
      span {
        display: block;
        width: 24px;
        height: 2px;
        margin: 0 auto;
        background: $nut-gradient;
        transition: 0.5s;
        &:nth-child(2) {
          margin: 4px auto;
        }
      }
      &--active {
        span {
          background: #fff;
        }
        span:nth-child(1) {
          transform: rotate(45deg) translate(2px, 1px);
        }
        span:nth-child(2) {
          transform: rotate(135deg);
          margin: 0 auto;
        }
        span:nth-child(3) {
          transform: rotate(225deg) translate(1px, 2px);
        }
      }
    }
  }
  &__close {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: 23px;
    right: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">    <circle cx="16" cy="16" r="14" stroke="black" stroke-width="2"/><line x1="9.62361" y1="9.29289" x2="22.6236" y2="22.2929" stroke="black" stroke-width="2"/><line y1="-1" x2="18.3848" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 23 10)" stroke="black" stroke-width="2"/></svg>');
    background-size: contain;
    @media (max-width: 991px) {
      top: 10px;
      right: 10px;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2147483646;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(42, 18, 12, 0.8);
  transform-style: preserve-3d;
  perspective: 800;
  perspective-origin: 50% 50%;
  @media (max-width: 991px) {
    overflow-y: scroll;
    padding-bottom: 56px;
    z-index: 2147483647;
    &__left {
      order: 1;
    }
  }
  &--open {
    display: block;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 824px;
    height: 394px;
    transform: translate(-50%, -50%);
    box-shadow: 30px 30px 50px rgba(47, 13, 13, 0.8);
    overflow: hidden;
    @media (max-width: 991px) {
      top: 15px;
      bottom: 51px;
      left: 15px;
      right: 15px;
      transform: none;
      width: auto;
      height: auto;
      padding: 0 20px;
      box-shadow: none;
    }
  }
  &__scontent {
    height: 349px;
    @media (max-width: 991px) {
      height: auto;
      margin-bottom: 20px;
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      margin: 15px;
      padding: 0;
    }
  }
  &__left {
    @media (max-width: 991px) {
      flex: 0 0 auto;
    }
  }
  &__right {
    @media (max-width: 991px) {
      flex: 0 0 auto;
      padding: 20px 0 0;
    }
  }
  &__intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 78px 40px 106px;
    height: 100%;
    box-sizing: border-box;
    @media (max-width: 991px) {
      flex-flow: column nowrap;
      padding: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (orientation: landscape) and (max-width: 991px) {
        flex-flow: row nowrap;
        .modal__left,
        .modal__right {
          flex: 0 0 50%;
          padding: 10px 0;
        }
      }
    }
  }
  &__title {
    font-weight: bold;
    line-height: 32px;
    font-size: 30px;
    margin-bottom: 20px;
    max-width: 260px;
    @media (max-width: 991px) {
      text-align: center;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 10px;
      max-width: none;
    }
    &--24 {
      font-size: 24px;
      line-height: 26px;
      margin-top: 20px;
      @media (max-width: 991px) {
        font-size: 20px;
        line-height: 24px;
        margin-top: 10px;
      }
    }
  }
  &__text,
  &__ptext {
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      text-align: center;
      margin: 0 20px 15px;
    }
  }
  &__ptext {
    margin-bottom: 0;
  }
  &__image {
    max-width: 316px;
    @media (max-width: 991px) {
      // max-width: 184px;
      margin: 10px auto 10px;
      img {
        max-width: 100%;
        max-height: (184 / 576 * 100vh);
        @media (orientation: landscape) and (max-width: 991px) {
          max-height: 100%;
        }
      }
    }
  }

  &__login {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 78px 0 106px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 991px) {
      flex-flow: row wrap;
      justify-content: center;
      align-content: space-between;
      padding: 30px 15px 0;
      @media (orientation: landscape) and (max-width: 991px) {
        flex-flow: row nowrap;
        padding: 0;
        .modal__left,
        .modal__right {
          flex: 0 0 50%;
          padding: 0;
          max-width: none;
        }
      }
    }
    .modal__text {
      margin-bottom: 15px;
    }
  }
  &__prize {
    display: flex;
    flex-flow: row nowrap;
    height: 349px;
    @media (max-width: 991px) {
      height: auto;
      margin: 0 -20px;
      box-sizing: border-box;
      flex-flow: column nowrap;
      justify-content: stretch;
      .modal__title {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &__flex-start {
    align-self: flex-start;
  }
  &__last {
    order: 10;
  }

  &__collection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 78px 35px 106px;
    height: 100%;
    box-sizing: border-box;
    @media (max-width: 991px) {
      flex-flow: column nowrap;
      padding: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &__super {
    padding: 35px 60px 35px 100px;
    @media (max-width: 991px) {
      padding: 0;
    }
  }
}

.intro {
  &__slider {
    // display: flex;
    // flex-flow: row nowrap;
    // overflow: hidden;
    max-width: 250px;
  }
  &__slide {
    // flex: 0 0 100%;
    // width: 100%;
    // transition: 1.5s;
  }
  &__dots {
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &__dot {
    padding: 0;
    margin: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #F9F02B;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 12px;
    outline: none;
    @media (max-width: 991px) {
      margin: 0 6px;
    }
    &--active {
      background-color: #F9F02B;
    }
  }
  &__attempts {
    position: absolute;
    top: 50%;
    margin-top: 200px;
    left: 50%;
    font-weight: 300;
    font-size: 15px;
    transform: translate(-50%, 0);
    &_help {
      margin-right: 12px;
    }
    @media (max-width: 991px) {
      position: static;
      top: auto;
      margin-top: 0;
      transform: none;
      bottom: 48px;
      text-align: center;
    }
  }
  &__attempt {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-right: 10px;
    outline: none;
    &--active {
      background-color: #fff;
    }
    &--extra {
      &.intro__attempt--active {
        background-color: #f9f02b;
      }
    }
  }
}

.text__slider {
  max-height: 104px;
  overflow: hidden;
  @media (max-width: 991px) {
    margin: 0 auto;
  }
}

.images {
  &__slider {
    position: relative;
    width: 316px;
    height: 316px;
    max-width: none;
    @media (max-width: 991px) {
      max-height: calc(184 / 568 * 100vh);
      max-width: calc(184 / 568 * 100vh);
      @media (orientation: landscape) and (max-width: 991px) {
        max-height: 184px;
        max-width: 184px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 0.75s;
    opacity: 0;
    &--active {
      opacity: 1;
      transition-delay: 0.25s;
    }
  }
}

.social {
  &__items {
    margin: 0 20px;
    @media (orientation: landscape) and (max-width: 991px) {
      margin: 0;
    }
  }
  &__item {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    @media (max-width: 991px) {
      margin-bottom: 10px;
      @media (orientation: landscape) and (max-width: 991px) {
        display: inline-block;
        margin: 0 15px;
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    &:last-child {
      margin-bottom: 0;
      .social__name {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    path {
      transition: 0.5s;
    }
    &:hover {
      path {
        fill: #c50972;
      }
    }
  }
  &__icon {
    float: left;
    margin-right: 20px;
    @media (max-width: 991px) {
      margin-right: 15px;
      width: 24px;
      height: 24px;
      @media (orientation: landscape) and (max-width: 991px) {
        margin-right: 0;
        width: 32px;
        height: 32px;
      }
      svg {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  &__name {
    font-size: 18px;
    line-height: 32px;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    @media (max-width: 991px) {
      font-size: 13px;
      padding-bottom: 10px;
      line-height: 24px;
      text-align-last: left;
      @media (orientation: landscape) and (max-width: 991px) {
        font-size: 0;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.login {
  &__left {
    max-width: 291px;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &__image {
    align-self: flex-end;
    position: relative;
    @media (max-width: 991px) {
      align-self: center;
      order: 1;
      max-width: 136px;
      @media (orientation: landscape) and (max-width: 991px) {
        align-self: flex-end;
      }
      img {
        max-width: 100%;
        max-height: 40vh;
        @media (orientation: landscape) and (max-width: 991px) {
          max-height: 70vh;
          margin: 0 auto;
        }
      }
    }
  }
  &__choko {
    position: relative;
    display: block;
    max-width: 239px;
    top: 60px;
    filter: drop-shadow(60px 60px 100px rgba(87, 0, 0, 0.5));
    @media (max-width: 991px) {
      top: 0;
      margin-top: 20px;
      filter: none;
    }
  }
  &__product {
    display: block;
    position: relative;
    max-width: 239px;
    top: 47px;
    @media (max-width: 991px) {
      max-width: 136px;
      top: 0;
    }
  }
}

.infinity_choko {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .tiles {
    width: 100%;
    height: 100%;
  }
  .tile {
    position: absolute;
    width: 105px;
    height: 78px;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    opacity: 0.3;
    transition: opacity 0.3s;
    &--empty {
      background-position: 0 0;
      opacity: 1;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.prizes {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 140px auto 172px;
  max-width: 800px;
  @media (max-width: 991px) {
    display: block;
    max-width: none;
    margin: 100px 15px;
  }
  &__col {
    width: 400px;
    @media (max-width: 991px) {
      width: auto;
      text-align: center;
      margin-bottom: 30px;
    }
    & + & {
      padding-left: 137px;
      margin-right: -137px;
      @media (max-width: 991px) {
        padding-left: 0;
        margin-right: 0;
      }
    }
  }
  &__title {
    font-weight: bold;
    line-height: 32px;
    font-size: 30px;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }
  &__text {
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 290px;
    @media (max-width: 991px) {
      margin: 0 auto 20px;
      font-size: 13px;
      line-height: 16px;
    }
  }
  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 991px) {
      justify-content: center;
      margin: 0 -15px;
    }
  }
  &__item {
    margin-bottom: 20px;
    width: 183px;
    height: 125px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      width: 129px;
      height: 88px;
      margin: 0 15px 20px;
    }
    img {
      max-width: 117px;
      max-height: 125px;
      @media (max-width: 991px) {
        max-width: 75px;
      }
    }
    @media (max-width: 991px) {
      max-width: calc(50vw - 30px);
      img, svg {
        height: auto;
      }
    }
    svg:nth-child(2) {
      display: none;
    }
    &:first-child:last-child {
      width: 100%;
      max-width: none;
      svg:nth-child(1) {
        display: none;
      }
      svg:nth-child(2) {
        display: block;
      }
    }
  }
  &__empty {
    background: transparent;
    box-shadow: none;
  }
  &__collections {
    display: flex;
    flex-flow: row wrap;
    @media (max-width: 991px) {
      margin-right: -17px;
      max-width: 308px;
      margin: 0 auto;
      padding-left: 17px;
    }
  }
  &__collection {
    max-width: 85px;
    margin: 0 17px 20px 0;
    img {
      max-width: 100%;
    }
    span {
      display: block;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      text-align: center;
      line-height: 85px;
      font-size: 24px;
      text-align: center;
      opacity: 0.5;
      border: 1px solid #fff;
    }
  }
}

.products {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100vh;
  @media (max-width: 991px) {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    max-height: none;
  }
}

#fullpage {
  // display: none;
}

.product {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 114px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
    @media (max-width: 991px) {
      position: fixed;
      left: 0;
      right: 0;
      margin-left: 0;
      bottom: -50px;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      filter: drop-shadow(60px 60px 50px rgba(87, 0, 0, 0.51));
      @media (max-width: 991px) {
        max-width: 136px;
        max-height: 43vh;
      }
    }
  }
  &__mimages {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: hidden;
    @media (max-width: 991px) {
      display: block;
    }
    img {
      max-width: 100%;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(240.64deg, #C50972 0%, #5C1F7B 20%, #D8873E 21%, #B24A1E 40%, #C11320 41%, #630521 60%, #D31646 61%, #9A083C 80%, #FFA800 81%, #E94600 100%);
    background-size: 700% 100%;
    background-position: 0 0%;
    transition: background 2000ms ease;
    @media (max-width: 991px) {
      position: fixed;
      bottom: 36px;
      background-size: 1000% 100%;
    }
  }
  &__frame {
    top: 4.6875vmax;
    bottom: calc(4.6875vmax + 72px);
    right: 4.6875vmax;
    left: 4.6875vmax;
    position: fixed;
    background: linear-gradient(-240.64deg, #FEA600 0%, #E94600 20%, #D31646 21%, #99083C 40%, #C11320 41%, #630521 60%, #D8873E 61%, #B24A1E 80%, #C50972 81%, #5C1F7B 100%);
    background-size: 700%;
    background-position: 0 0;
    -webkit-clip-path: polygon(0% 100%, 15px 100%, 15px 15px, calc(100% - 15px) 15px, calc(100% - 15px) calc(100% - 15px), 15px calc(100% - 15px), 15px 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 15px 100%, 15px 15px, calc(100% - 15px) 15px, calc(100% - 15px) calc(100% - 15px), 15px calc(100% - 15px), 15px 100%, 100% 100%, 100% 0%, 0% 0%);
    transition: background-position 2s ease;
    @media (max-width: 991px) {
      top: 0;
      left: 0;
      right: auto;
      bottom: auto;
      width: 100vw;
      height: calc(100vh - 36px);
      background-size: 1000% 100%;
    }
  }
  &__info {
    max-width: 400px;
    padding-right: 400px;
    margin: 0 auto;
    @media (max-width: 991px) {
      max-width: none;
      padding-right: 0;
      margin: 90px 21px 0;
      text-align: center;
    }
  }
  &__title {
    font-weight: bold;
    line-height: 32px;
    font-size: 30px;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      font-size: 24px;
      line-height: 26px;
      max-width: 280px;
      margin: 0 auto 15px;
    }
  }
  &__text {
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 50px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    @media (max-width: 991px) {
      display: block;
      font-size: 13px;
      line-height: 16px;
      font-weight: 300;
      max-width: 247px;
      margin: 0 auto;
    }
  }
  &__arrow {
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__confeti {
    opacity: 0;
    filter: drop-shadow(40px 60px 20px rgba(87, 0, 0, 0.4));
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__orange {
    &-1,
    &-2,
    &-3 {
      position: absolute;
    }
    &-1 {
      top: 50%;
      left: -12px;
    }
    &-2 {
      top: -65px;
      right: 50%;
      margin-right: 90px;
    }
    &-3 {
      top: 94px;
      right: -52px;
    }
  }
  &__cherry {
    &-1,
    &-2,
    &-4,
    &-3 {
      position: absolute;
    }
    &-1 {
      top: 103px;
      left: -35px;
    }
    &-2 {
      top: -61px;
      right: 50%;
      margin-right: 82px;
    }
    &-3 {
      bottom: 147px;
      right: 50%;
      margin-right: 64px;
    }
    &-4 {
      top: 111px;
      right: -41px;
    }
  }
  &__cacao {
    &-1,
    &-2,
    &-4,
    &-3 {
      position: absolute;
      filter: drop-shadow(40px 60px 10px rgba(87, 0, 0, 0.4));
    }
    &-1 {
      top: 50%;
      left: 32px;
    }
    &-2 {
      top: 40px;
      left: 324px;
    }
    &-3 {
      bottom: 167px;
      right: 50%;
      margin-right: 100px;
    }
    &-4 {
      top: 60%;
      right: -30px;
    }
  }
  &__dark {
    &-1,
    &-2,
    &-4,
    &-5,
    &-3 {
      position: absolute;
    }
    &-1 {
      top: 50%;
      left: 21px;
    }
    &-2 {
      top: 23px;
      right: 50%;
      margin-right: 135px;
    }
    &-3 {
      bottom: 108px;
      right: 50%;
    }
    &-4 {
      top: 149px;
      right: 123px;
    }
    &-5 {
      bottom: 130px;
      right: 22px;
    }
  }
  &__nut {
    &-1,
    &-2,
    &-4,
    &-3 {
      position: absolute;
    }
    &-1 {
      top: 218px;
      left: -26px;
    }
    &-2 {
      top: -48px;
      right: 50%;
      margin-right: 138px;
    }
    &-3 {
      bottom: 137px;
      right: 50%;
      margin-right: 78px;
    }
    &-4 {
      bottom: 50%;
      right: -64px;
    }
  }
}

#fp-nav {
  transform: translateY(-72px);
  right: 15px;
  ul {
    li {
      margin: 12px;
      a {
        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid #f9f02b;
          box-sizing: border-box;
          margin: -6px 0 0 -6px;
          background-color: transparent;
        }
        &.active {
          span {
            background-color: #f9f02b;
          }
        }
        &:hover {
          span {
            width: 12px;
            height: 12px;
            margin: -6px 0 0 -6px;
          }
        }
      }
    }
  }
}

.fp-tableCell {
  @media (max-width: 991px) {
    vertical-align: top;
  }
}

.video {
  height: calc(100vh - 72px);
  position: relative;
  @media (max-width: 991px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100vw / 16 * 9);
    margin: auto 17px;
  }
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Prize modals
.prize {
  &__left {
    width: 500px;
    flex: 0 0 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 106px;
    box-sizing: border-box;
    @media (max-width: 991px) {
      width: auto;
      flex: 0 0 auto;
      padding: 20px;
      align-items: center;
    }
  }
  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 321px;
    @media (max-width: 991px) {
      width: auto;
      padding: 10px 0;
      flex: 0 0 auto;
    }
  }
  &__image {
    height: 167px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      height: auto;
      min-height: 60px;
    }
    img {
      max-height: 100%;
    }
  }
  &__code {
    color: #000;
    text-align: center;
    padding: 0 15px;
    span {
      font-size: 18px;
      font-weight: bold;
    }
    div {
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;
    }
    a {
      display: inline-block;
      margin-bottom: 10px;
      height: 27px;
      padding: 0 10px;
      line-height: 25px;
      border: 2px solid #000000;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 12px;
      color: #161616;
      text-decoration: none;
    }
  }
  &__col {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px;
  }
}

.legal__rule {
  width: 824px;
  position: absolute;
  top: 50%;
  margin-top: 240px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 300;
  line-height: 10px;
  font-size: 8px;
  color: #fff;
  @media (max-width: 991px) {
    transform: none;
    position: static;
    margin: 20px 15px 0;
    max-width: calc(100% - 30px);
  }
}

.legal__rule2 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-weight: 300;
  line-height: 12px;
  font-size: 8px;
  @media (max-width: 991px) {
    position: static;
  }
}

.modal {
  &__share {
    .modal__title {
      margin: 10px 0;
    }
    .modal__ptext {
      @media (max-width: 991px) {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}

.share {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 20px;
  @media (max-width: 991px) {
    justify-content: center;
    margin-top: 10px;
  }
  &__item {
    margin-right: 40px;
    @media (max-width: 991px) {
      margin: 0 20px;
    }
  }
}

.modal {
  &__confeti {
    position: absolute;
    display: none;
    filter: drop-shadow(20px 20px 40px rgba(87, 0, 0, 0.4));
  }
}

.background--orange {
  .orange {
    &__1,
    &__2,
    &__3 {
      display: block;
    }
    &__1 {
      width: 107px;
      top: 207px;
      left: -32px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__2 {
      width: 182px;
      top: -45px;
      left: calc(50% - 91px);
      @media (max-width: 991px) {
        width: 108px;
        left: -35px;
        top: 345px;
        transform: rotate(-106deg) scaleX(-1);
        transform-origin: 50% 50%;
      }
    }
    &__3 {
      width: 91px;
      top: 108px;
      right: -25px;
      @media (max-width: 991px) {
        width: 72px;
        top: 296px;
        right: -20px;
      }
    }
  }
}

.background--nut {
  .nut {
    &__1,
    &__2,
    &__3,
    &__4 {
      display: block;
    }
    &__1 {
      width: 78px;
      left: -26px;
      top: 96px;
      @media (max-width: 991px) {
        width: 48px;
        top: 380px;
        left: -13px;
      }
    }
    &__2 {
      width: 73px;
      left: 50%;
      top: -28px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__3 {
      width: 62px;
      right: -22px;
      bottom: 111px;
      @media (max-width: 991px) {
        width: 53px;
        right: -15px;
        top: 345px;
      }
    }
    &__4 {
      width: 118px;
      right: 260px;
      bottom: -12px;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.background--cherry {
  .cherry {
    &__1,
    &__2,
    &__3 {
      display: block;
    }
    &__1 {
      width: 154px;
      top: 167px;
      left: 50%;
      @media (max-width: 991px) {
        width: 101px;
        top: 343px;
        left: -28px;
      }
    }
    &__2 {
      width: 121px;
      top: 53px;
      right: -56px;
      @media (max-width: 991px) {
        width: 74px;
        top: 310px;
        right: -22px;
      }
    }
    &__3 {
      width: 88px;
      top: 156px;
      left: -31px;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.background--cacao {
  .cacao {
    &__1,
    &__2,
    &__3,
    &__4 {
      display: block;
    }
    &__1 {
      width: 44px;
      top: 318px;
      left: 453px;
      @media (max-width: 991px) {
        left: 237px;
        top: 320px;
      }
    }
    &__2 {
      top: -21px;
      left: 50%;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__3 {
      width: 33px;
      right: 20px;
      top: 134px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__4 {
      width: 34px;
      left: 13px;
      top: 100px;
      @media (max-width: 991px) {
        top: 432px;
      }
    }
  }
}

.background--dark {
  .dark {
    &__1,
    &__3,
    &__5 {
      display: block;
    }
    &__1 {
      width: 50px;
      left: 0;
      top: 151px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__3 {
      width: 90px;
      left: 50%;
      top: 254px;
      @media (max-width: 991px) {
        width: 51px;
        left: 14px;
        top: 358px;
      }
    }
    &__5 {
      width: 50px;
      top: 107px;
      right: -4px;
      @media (max-width: 991px) {
        width: 28px;
        top: 314px;
        right: 20px;
      }
    }
  }
}

.super {
  &__image {
    margin-left: 36px;
    @media (max-width: 991px) {
      margin-left: 0; 
    }
    img {
      max-width: 279px;
      @media (max-width: 991px) {
        max-width: 184px;
        max-height: calc(184 / 568 * 100vh);
      }
    }
  }
  &__title {
    max-width: none;
  }
  &__block {
    margin: 20px 0 -10px;
    height: 52px;
    border: 3px solid #fff;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    @media (max-width: 991px) {
      margin: 10px 0 0;
      height: 42px;
      justify-content: center;
    }
  }
  &__ico {
    display: inline-block;
    vertical-align: top;
    margin: -1px 0;
    width: 74px;
    height: 48px;
    padding: 4px 10px;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
    @media (max-width: 991px) {
      height: 38px;
    }
    img {
      max-height: 38px;
      max-width: 54px;
      @media (max-width: 991px) {
        max-height: 28px;
        max-width: 54px;
      }
    }
  }
  &__code {
    display: inline-block;
    vertical-align: top;
    height: 46px;
    font-weight: bold;
    line-height: 46px;
    font-size: 24px;
    text-align: center;
    padding: 0 25px;
    box-sizing: border-box;
    @media (max-width: 991px) {
      padding: 0 10px;
      line-height: 36px;
      font-size: 20px;
    }
  }
}