extends /layouts/main.pug
include /partials/modal.pug


block vars
	- var pageTitle		= "Главная";
	- var description 	= "This is a description";
	- var isIndex = true;

block content
	.infinity_choko#infinity_choko
		.tiles#tiles
	+modal(true)(class="background--orange", id="tutorial")
		.modal__intro
			.modal__left
				.modal__title Измерь свой момент радости
				.intro__slider.text__slider
					.intro__slide.text__slide
						.modal__text А когда соберешь все источники радости - сможешь обменять их на супер-приз!
					.intro__slide.text__slide
						.modal__text Отламывай по 3 кусочка каждый день и находи все подарки и источники радости, спрятанные в плитке шоколада.
					.intro__slide.text__slide
						.modal__text Открывай новые моменты радости с плиткой шоколада Alpen Gold! Начни играть прямо сейчас!
				.intro__dots
					button.intro__dot.intro__dot--active
					button.intro__dot
					button.intro__dot
				a.btn.btn__play.btn__open_modal(href="#login") ИГРАТЬ
			.modal__right
				.modal__image
					.intro__slider.images__slider
						.intro__slide.images__slide.images__slide--active
							img(src="/images/moment1.png", alt="", srcset="/images/moment1@2.png 2x")
						.intro__slide.images__slide
							img(src="/images/moment2.png", alt="", srcset="/images/moment2@2.png 2x")
						.intro__slide.images__slide
							img(src="/images/moment3.png", alt="", srcset="/images/moment3@2.png 2x")
	+modal(false)(class="background--cacao", id="login")
		.modal__login
			.modal__left.login__left
				.modal__title Войти
				.modal__text Чтобы начать игру, необходимо авторизоваться через с помощью соцсетей:
				.modal__socials.social__items
					a.modal__social.social__item(href="#")
						.social__icon
							svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M16 0C7.16374 0 0 7.16342 0 16C0 24.8366 7.16374 32 16 32C24.8363 32 32 24.8366 32 16C32 7.16342 24.8363 0 16 0ZM24.1161 17.7305C24.8618 18.4588 25.6507 19.1443 26.3202 19.948C26.6168 20.3036 26.8964 20.6712 27.1092 21.0846C27.413 21.6742 27.1386 22.3208 26.6109 22.3558L23.333 22.3552C22.4864 22.4252 21.8127 22.0838 21.2447 21.505C20.7913 21.0437 20.3707 20.551 19.934 20.0741C19.7555 19.8783 19.5676 19.694 19.3437 19.549C18.8969 19.2583 18.5086 19.3473 18.2526 19.8141C17.9917 20.2891 17.9321 20.8155 17.9072 21.3442C17.8715 22.1172 17.6385 22.3191 16.8629 22.3555C15.2058 22.4331 13.6335 22.1816 12.1721 21.3462C10.8829 20.6093 9.88514 19.5693 9.01565 18.3917C7.32252 16.0962 6.02582 13.5768 4.86073 10.9851C4.59851 10.4014 4.79034 10.0891 5.43427 10.077C6.5041 10.0563 7.57393 10.059 8.64376 10.076C9.07916 10.0829 9.36724 10.332 9.53453 10.7428C10.1127 12.1652 10.8214 13.5186 11.7095 14.7737C11.9462 15.1079 12.1878 15.4412 12.5319 15.6772C12.9116 15.9378 13.201 15.8517 13.3801 15.4278C13.4947 15.1583 13.5441 14.8703 13.569 14.5815C13.6541 13.5926 13.6642 12.6039 13.5169 11.6189C13.4253 11.0024 13.0786 10.6044 12.4641 10.4878C12.1512 10.4286 12.197 10.3127 12.3492 10.1339C12.6134 9.8249 12.8609 9.63372 13.3555 9.63372L17.059 9.63306C17.6427 9.74764 17.7737 10.0095 17.8529 10.5975L17.8562 14.7131C17.8493 14.9406 17.9704 15.615 18.379 15.764C18.7063 15.872 18.9224 15.6095 19.1182 15.4022C20.0063 14.4597 20.6391 13.3474 21.2058 12.196C21.4559 11.6883 21.6716 11.1628 21.8811 10.6364C22.0369 10.2472 22.2792 10.0557 22.7185 10.0622L26.2848 10.0665C26.3899 10.0665 26.4967 10.0675 26.6008 10.0855C27.2018 10.1883 27.3665 10.4469 27.1805 11.0332C26.8879 11.9544 26.3192 12.7218 25.7634 13.4911C25.1675 14.3147 24.5321 15.1096 23.9422 15.9368C23.4001 16.693 23.443 17.0738 24.1161 17.7305Z" fill="white")
						.social__name Вконтакте
					a.modal__social.social__item(href="#")
						.social__icon
							svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M16 0C7.16342 0 0 7.16374 0 16C0 24.8363 7.16342 32 16 32C24.8366 32 32 24.8363 32 16C32 7.16374 24.8366 0 16 0ZM16.0229 4.86564C19.1394 4.87415 21.6408 7.42334 21.6248 10.5742C21.6091 13.6525 19.0668 16.1473 15.9555 16.1368C12.8759 16.1264 10.3503 13.5732 10.3687 10.4888C10.386 7.37064 12.9129 4.85713 16.0229 4.86564ZM22.3352 18.3511C21.6461 19.0586 20.8165 19.5706 19.8953 19.9277C19.0245 20.2652 18.0703 20.4352 17.1255 20.5484C17.2685 20.7036 17.3357 20.7799 17.4247 20.8689C18.7067 22.1577 19.9948 23.44 21.2726 24.7325C21.7079 25.1731 21.7986 25.7192 21.559 26.2308C21.2974 26.7906 20.7105 27.1586 20.1346 27.119C19.7699 27.0938 19.4855 26.9127 19.2331 26.6584C18.2654 25.6848 17.2793 24.7286 16.3319 23.7366C16.0553 23.4479 15.9231 23.5029 15.6792 23.7537C14.7059 24.7561 13.7166 25.7424 12.7218 26.7235C12.2749 27.1642 11.7433 27.244 11.2247 26.992C10.6738 26.7255 10.3235 26.1627 10.3503 25.5967C10.3693 25.215 10.5572 24.9224 10.8198 24.6611C12.089 23.3945 13.3542 22.124 14.6198 20.8545C14.704 20.7704 14.7819 20.681 14.904 20.5501C13.1778 20.3697 11.6212 19.9448 10.2885 18.9028C10.1228 18.7731 9.95225 18.6481 9.80166 18.5027C9.21796 17.9426 9.15937 17.3006 9.62062 16.64C10.0158 16.0743 10.6783 15.9231 11.3674 16.2481C11.501 16.3107 11.628 16.3899 11.7498 16.4737C14.2332 18.1803 17.645 18.2271 20.1382 16.55C20.3851 16.3614 20.6492 16.2062 20.9553 16.128C21.5498 15.9748 22.105 16.1938 22.4239 16.7143C22.7889 17.3091 22.7847 17.8892 22.3352 18.3511Z" fill="white")
								path(d="M16.0151 13.2607C17.5429 13.2551 18.7597 12.0278 18.7541 10.4967C18.7486 8.96497 17.5291 7.74618 16.0007 7.74487C14.4594 7.74324 13.2285 8.98461 13.2403 10.5301C13.2518 12.0556 14.4823 13.2662 16.0151 13.2607Z" fill="white")
						.social__name Одноклассники
					a.modal__social.social__item(href="#")
						.social__icon
							svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M16 0C7.16342 0 0 7.16342 0 16C0 24.8366 7.16342 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16342 24.8366 0 16 0ZM22.1041 8.14813L19.8911 8.14911C18.1557 8.14911 17.8202 8.97375 17.8202 10.1837V12.8517H21.9584L21.9564 17.0305H17.8205V27.7544H13.5042V17.0305H9.89594V12.8517H13.5042V9.7699C13.5042 6.19343 15.6893 4.24561 18.8795 4.24561L22.1044 4.25052V8.14813H22.1041Z" fill="white")
						.social__name Facebook
			.modal__right.login__image
				img.login__choko(src="/images/ag-login-dark.png", alt="Alpen Gold Dark")
		img.modal__confeti.orange__1(src="/images/orange-1.png", alt="")
		img.modal__confeti.orange__2(src="/images/orange-2.png", alt="")
		img.modal__confeti.orange__3(src="/images/orange-3.png", alt="")
		img.modal__confeti.cherry__1(src="/images/cherry-1.png", alt="")
		img.modal__confeti.cherry__2(src="/images/cherry-2.png", alt="")
		img.modal__confeti.cherry__3(src="/images/cherry-3.png", alt="")
		img.modal__confeti.dark__1(src="/images/dark-1.png", alt="")
		img.modal__confeti.dark__3(src="/images/dark-3.png", alt="")
		img.modal__confeti.dark__5(src="/images/dark-5.png", alt="")
		img.modal__confeti.cacao__1(src="images/cacao-1.png", alt="")
		img.modal__confeti.cacao__2(src="images/cacao-2.png", alt="")
		img.modal__confeti.cacao__3(src="images/cacao-3.png", alt="")
		img.modal__confeti.cacao__4(src="images/cacao-4.png", alt="")
		img.modal__confeti.nut__1(src="/images/nut-1.png", alt="")
		img.modal__confeti.nut__2(src="/images/nut-2.png", alt="")
		img.modal__confeti.nut__3(src="/images/nut-3.png", alt="")
		img.modal__confeti.nut__4(src="/images/nut-4.png", alt="")
	script.
		var userTiles = [507, 508, 509, 1007, 1008, 1009, 1502, 1503, 1508, 1509, 2001, 2002, 2008, 2373, 2394, 2501, 2502, 2508, 2509, 2840, 2994, 3001, 3002, 3003, 3008, 3010, 3501, 3502, 3509, 3510, 3999, 4000, 4001, 4002, 4003, 4004, 4500, 4501, 4502, 4503, 4505, 4509, 4510, 4563, 4629, 4654, 4699, 4709, 4731, 4742, 4774, 4817, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5003, 5004, 5009, 5010, 5499, 5505, 5506, 5509, 6001, 6006, 6009, 6501, 6503, 6504, 6507, 6509, 6510, 7001, 7003, 7004, 7005, 7009, 7501, 7502, 7507, 7508, 7509, 8001, 8003, 8004, 8006, 8008, 8508, 8509, 9001, 9002, 9004, 9504, 9505, 9507, 10000, 10002, 10003, 13517];
		var gridStart = [-4, -4]; // [ начало x, начало y ] координаты верхней клетки x + 4, y + 4